.modalBody {
  width: 300px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  flex-direction: column;
  position: relative;
}

.closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: color 300ms ease;

  &:hover {
    color: #1976d2;
  }
}
